name: CI - API Tests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

  workflow_dispatch:
    inputs:
      spec:
        description: 'Cypress API spec to run'
        required: false
        default: 'cypress/e2e/api/**/*.cy.js'

jobs:
  api-tests:
    runs-on: ubuntu-latest

    # ======================
    # Database
    # ======================
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: dba
          POSTGRES_PASSWORD: dba
          POSTGRES_DB: UserDB
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U dba"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    container:
      image: cypress/browsers:22.16.0
      options: --user 1001

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ======================
      # API
      # ======================
      - name: Install API dependencies
        working-directory: api
        run: npm install

      - name: Run Prisma migrations
        working-directory: api
        run: npx prisma migrate deploy
        env:
          DATABASE_URL: postgresql://dba:dba@postgres:5432/UserDB

      - name: Start API
        working-directory: api
        run: |
          npm run start:ci &
          sleep 10
        env:
          DATABASE_URL: postgresql://dba:dba@postgres:5432/UserDB
          PORT: 3333

      # ======================
      # Wait for API
      # ======================
      - name: Wait for API
        run: |
          npx wait-on \
            http://localhost:3333 \
            --timeout 60000 \
            --log

      # ======================
      # Cypress (API tests only)
      # ======================
      - name: Run Cypress API tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: api
          browser: electron
          spec: ${{ github.event.inputs.spec }}
        env:
          CYPRESS_baseUrl: http://localhost:3333
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
