# .github/workflows/ci.yml
name: ci

on:
  pull_request: 
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      spec:
        description: 'Cypress spec to run'
        required: false
        default: 'cypress/e2e/*'
jobs:
  chrome-tests:
    runs-on: ubuntu-latest
    container: 
      image: cypress/browsers:22.16.0
      options: --user 1001

    # Runs tests in parallel with matrix strategy https://docs.cypress.io/guides/guides/parallelization
    # https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs
    # Also see warning here https://github.com/cypress-io/github-action#parallel
    #strategy:
    #  fail-fast: false # https://github.com/cypress-io/github-action/issues/48
    #  matrix:
    #    containers: [1, 2] # Uses 2 parallel instances
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ======================
      # API
      # ======================
      - name: Install API dependencies
        working-directory: api
        run: npm install

      - name: Start API
        working-directory: api
        run: |
          echo "Starting API..."
          npm run dev &
          sleep 5

      # ======================
      # WEB
      # ======================
      - name: Install Web dependencies
        working-directory: web
        run: npm install

      - name: Start Web
        working-directory: web
        run: |
          echo "Starting Web..."
          npm run dev &
          sleep 5

      # ======================
      # Wait for services
      # ======================
      - name: Wait for API and Web
        run: |
          npx wait-on \
            http://localhost:3333 \
            http://localhost:3000 \
            --timeout 60000 \
            --interval 2000 \
            --log

      # ======================
      # Cypress
      # ======================
      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          record: true
          parallel: true
          spec: ${{ github.event.inputs.spec }}
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}